**/packer_compiled.lua
**/**/packer_*
*packer_*
**/**/*.o
*.o
**/*.o
**dotfiles/dotdocuments/Source/Suckless-Software/dwm/dwm
**dotfiles/dotdocuments/Source/Suckless-Software/dwm/*.o
dotfiles/dotdocuments/Source/Suckless-Software/dwm/drw.o
**/libre*
